.dialogues {
  display: grid;
  grid-template-columns: 2.5fr 8fr;
  justify-items: center;
  gap: 100px;
  padding: 100px 50px 0 50px;
}



.messages,
.dialoguesItems {
  gap: 50px;
  display: grid;
}