* {
  width: 100%;
}

#page {
  display: grid;
  grid-template-areas:
    'header header header'
    'wrapper main main'
    'wrapper main main';
}

.header {
  grid-area: header;
  background-color: goldenrod;
}

.wrapper {
  width: 1200px;
  grid-area: wrapper;
  width: 15vw;
  background-color: blueviolet;
}

.main {
  grid-area: main;
  background-color: crimson;
  width: 85vw;
}

#logo {
  width: 10vw;
  margin: 32px;
  transform: scale(-1, 1)
}

#backdrop {
  width: ;
}

#avatar {
  width: 20vw;
}